    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
    }

    body {
        background-color: #CFE7D3;

        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;

    }

    .header {
        background-color: #B0BDB7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 10%;
        position: relative;
    }

    /* Estilo para el logo */
    .header .logo {
        cursor: pointer;
        margin-left: -90px;
        /* Ajusta este valor según sea necesario */
    }

    .header .logo img {
        height: 40px;
        width: auto;
        transition: all 0.3s;
    }

    .header .logo img:hover {
        transform: scale(1.2);
    }

    /* Estilo para los enlaces de navegación */
    .header nav {
        flex-grow: 1;
        /* Permite que el nav ocupe el espacio disponible */
        display: flex;
        justify-content: center;
        /* Centra los enlaces en la barra de navegación */
    }

    .header .nav-links {
        list-style: none;
        display: flex;
        /* Cambiado para flex */
    }

    .header .nav-links li {
        padding: 0 20px;
    }

    .header .nav-links a {
        font-weight: 700;
        font-size: 1rem;
        color: #2F9553;
        text-decoration: none;
    }

    /* Estilo para el ícono del menú hamburguesa */
    .bar-btn {
        font-size: 30px;
        cursor: pointer;
        color: #000000;
        z-index: 10;
        transition: opacity 0.3s;
        position: absolute;
        right: 10px;
    }

    /* Estilos para el menú desplegable */
    .nav-menu {
        position: absolute;
        border-radius: 20px;
        top: 100%;
        right: 10px;
        width: 250px;
        background-color: #B0BDB7;
        list-style: none;
        padding: 20px;
        margin: 10px 0;
        transform-origin: top right;
        transform: scale(0);
        transition: transform 0.3s ease;
        z-index: 9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    /* Muestra el menú cuando el checkbox está marcado */
    #check:checked~.nav-menu {
        transform: scale(1);
    }

    /* Estilo para los botones del menú */
    .nav-menu li {
        padding: 5px 0;
    }

    .nav-btn {
        display: block;
        width: 100%;
        padding: 5px;
        margin: 0;
        background-color: #ffffff;
        color: #000000;
        border: none;
        border-radius: 20px;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .nav-btn:hover {
        background-color: #228B4A;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .container {
        background-color: #B0BDB7;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 500px;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 1rem;
        color: #000;
        margin-bottom: 5px;
    }

    .input-group {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-group input {
        width: 75%;
        padding: 10px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        text-align: center;
    }

    .input-group i {
        position: absolute;
        right: 70px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        /* Esto es para que el ícono no sea clickable */
        color: #2F9553;
    }

    .input-group select {
        width: 75%;
        padding: 10px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        text-align: center;
        appearance: none;
        /* Esto es para quitar el estilo predeterminado del select */
        -webkit-appearance: none;
        /* Esto es para quitar el estilo predeterminado del select en Chrome */
        -moz-appearance: none;
        /* Esto es para quitar el estilo predeterminado del select en Firefox */
    }

    .input-group select:focus {
        outline: none;
        /* Quita el borde azul que se muestra cuando se selecciona el select */
    }



    .btn {
        background-color: #3CB371;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        font-size: 16px;
        font-family: 'Arial', sans-serif;
        cursor: pointer;
        width: 40%;
    }