<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Usuarios</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/f718b2db3e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="logo"> <img src="../../../../img/SIGEPIXTECA.png" alt="Logo de Sigepi"> </div>
        <nav>
            <ul class="nav-links">
                <li><a href="../../index.html">Administrador</a></li>
            </ul>
        </nav>
        <input type="checkbox" id="check" style="display: none;">
        <label for="check" class="bar-btn">
            <i class="fa-solid fa-bars" style="color: #000000; font-size: 30px"></i>
        </label>
        <ul class="nav-menu">
            <li><button class="nav-btn">AGREGAR USUARIOS</button></li>
            <li><button class="nav-btn">LIST. USUARIOS</button></li>
            <li><button class="nav-btn">AGREGAR VEHICULOS</button></li>
            <li><button class="nav-btn">AGREGAR TRAILERS</button></li>
            <li><button class="nav-btn">PERFIL</button></li>
            <li><button class="nav-btn">Salir</button></li>
        </ul>
    </header>
    <div class="main-content">
        <div class="container">
            <div class="profile-icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="input-field">Nombres</div>
            <div class="input-field">Apellidos</div>
            <div class="input-field">Fecha de Nacimiento</div>
            <div class="input-field">Numero de identificación</div>
            <div class="input-field">Correo Electronico</div>
            <div class="input-field">Numero de Celular</div>
            <div class="input-field">Contraseña</div>
            <button class="submit-button">Agregar usuario</button>
        </div>
    </div>
</body>

</html>