<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/f718b2db3e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../../../../img/SIGEPIXTECA.png" alt="Logo de Sigepi">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="../../index.html">Administrador</a></li>
            </ul>
        </nav>
        <input type="checkbox" id="check" style="display: none;">
        <label for="check" class="bar-btn">
            <i class="fa-solid fa-bars" style="color: #000000; font-size: 30px"></i>
        </label>
        <ul class="nav-menu">
            <li><button class="nav-btn">AGREGAR USUARIOS</button></li>
            <li><button class="nav-btn">LIST. USUARIOS</button></li>
            <li><button class="nav-btn">AGREGAR VEHICULOS</button></li>
            <li><button class="nav-btn">AGREGAR TRAILERS</button></li>
            <li><button class="nav-btn">PERFIL</button></li>
            <li><button class="nav-btn">Salir</button></li>
        </ul>
    </header>

    <div class="container">
        <main>
            <div class="profile-container">
                <!-- Contenedor de perfil -->
                <div class="profile-image">
                    <img src="../../../../img/ImagenPerfil.png" alt="Perfil">
                </div>
                <div class="profile-data">
                    <p><strong>Nombre:</strong> Juan Pérez</p>
                    <p><strong>Apellidos:</strong> Pérez Gómez</p>
                    <p><strong>Fecha de nacimiento:</strong> 01/01/1980</p>
                    <p><strong>Número de identificación:</strong> 123456789</p>
                    <p><strong>Email:</strong> juan.perez@example.com</p>
                    <p><strong>Teléfono:</strong> 3111234567</p>
                    <p><strong>Contraseña:</strong> *********</p>
                </div>
                <button type="button" class="edit-profile-button" onclick="window.location.href='./EditarPerfil/Editar.html'">Editar perfil</button>
            </div>
        </main>
    </div>
</body>
</html>
