<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Inicio</h1>
    <h4>esta pagina es provicional</h4>
    <button class="nav-button" onclick="window.location.href='./Admin/index.html'">Ir a Administrador</button>
    <button class="nav-button" onclick="window.location.href='./Supervisor/Inicio.html'">Ir a Supervisor</button>
    <button class="nav-button" onclick="window.location.href='./Transportador/Inicio.html'">Ir a Transportador</button>
    <button class="nav-button" onclick="window.location.href='./Mecanico/Inicio.html'">Ir a Mecanico</button>
    <button class="nav-button" onclick="window.location.href='ServCliente/inicio.html'">Ir a Servicio al Cliente</button>

</body>
</html>
